body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  color: #1c1c1c;
  background: #071e3d;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #071e3d), color-stop(65%, #0ccead), to(#2cb460));
  background: linear-gradient(90deg, #071e3d 5%, #0ccead 65%, #2cb460 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(100px, 300px) (minmax(200px, 400px))[2] minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) minmax(100px, 300px) repeat(2, minmax(200px, 400px)) minmax(0, 1fr);
  -ms-grid-rows: 6rem auto auto auto 1rem;
      grid-template-rows: 6rem auto auto auto 1rem;
      grid-template-areas: ". . . . ." ". aside main main ." ". . . . .";
}

body main {
  background-color: white;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: main;
}

body main header {
  background-color: #333333;
  color: white;
  padding: 20px;
}

body main header #name {
  color: #0ccead;
  font-weight: 700;
  text-align: left;
  padding: 20px;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

body main header #role {
  position: relative;
  font-size: 1.3rem;
  bottom: 20px;
  left: 20px;
  text-align: left;
}

body main header #about {
  padding: 20px 0;
}

body main section {
  padding: 20px;
}

body aside {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aside;
  background-color: #333333;
  color: white;
  padding: 20px;
}

body aside .logo {
  margin: 20px 0;
  text-align: center;
}

body aside .logo img {
  max-width: 220px;
  width: 65%;
  min-width: 175px;
  border-radius: 20px;
}

body aside .link a {
  color: white;
  margin: 5px 0;
}

body aside .link .fa {
  font-size: 2.5rem;
}

body aside #skils ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

body aside #skils ul li {
  background-color: white;
  color: black;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0.25rem;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5em;
}

body aside #skils ul li .skil-name {
  margin-top: 0.5rem;
  display: inline;
}

body aside #skils ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 420ms;
  transition: 420ms;
  color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #071e3d), color-stop(65%, #0ccead), to(#2cb460));
  background: linear-gradient(90deg, #071e3d 5%, #0ccead 65%, #2cb460 100%);
}

body aside #skils img {
  width: 2.5rem;
}

body .skip-nav-link {
  background-color: #333333;
  color: #0ccead;
  padding: 0.5rem 1.5rem;
  position: absolute;
  border-radius: 0.25rem;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  left: 2rem;
}

body .skip-nav-link:focus {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
/*# sourceMappingURL=style.css.map */