$black: #1c1c1c;
$gray: #333333;
$lightgray: #cccccc;
$lightblue: #43ece5;
$blue: #1b7296;
$darkblue: #071e3d;
$green: #2cb460;
$gradient:  linear-gradient(135deg, $lightblue 25%, $darkblue 100%);

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* ------------------- */
/* Body                */
/* ------------------- */

body{
    padding: 0;
    line-height: 1.5;
    min-height: 100vh;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: $black;
    background: rgb(67,236,229);
    background: $gradient;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    grid-template-rows: 6rem auto 2rem;
    grid-template-areas: 
        ". . . "
        ". main ."
        ". . . ";
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(8rem, 24rem)  minmax(13rem, 39rem);
    grid-template-areas: "left right";
    box-shadow: 1rem 1rem 3rem 2rem $black;
}

#left{
    grid-area: left;
    background-color: $gray;
    color:  white;
    #photo{
        img{
            width: 100%;
        }
        
    }

    #introduce{
        display: flex;
        flex-direction: column;
        #name, #surname{
            font-size: 2.75rem;
            font-weight: 600;
            letter-spacing: 0.15rem;
            line-height: 0.9;
            text-transform: uppercase;
        }

        #title{
            margin-top: 1rem;
            font-size: 1.2rem;
            color: $lightgray
        }   
    }

    #contact{
        .box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            margin: 1rem 0;
            background-color: rgba(67, 236, 229, 0.2);
            img{
                width: 2.5rem;
            }
            div{
                width: 100%;
                margin-left: 1rem;
                border-left: 0.15rem solid $lightblue;
                color: white;
                div{
                    border: none;
                }
                .contact-name{
                    font-size: 1.2rem;
                    font-weight: 600;
                    letter-spacing: 0.05rem;
                    line-height: 0.9;
                    text-transform: uppercase;
                    color: $lightblue;
                }
            }
        }
        .box:hover, .box:focus{
            background-color: rgba(67, 236, 229, 0.5);
            border-radius: 1rem;
            transform: scale(105%);
            transition: 400ms;
        }
        ul{
            padding: 0;
        }
        a{
            text-decoration: none;
            color: black;
        }

       
    }
    #skills, #hobby{
        img{
            width: 1.75rem;
        }
        li{
            display: flex;
            align-items: center;
            div{
                margin-left: 1.5rem;
            }
        }
        li:not(:first-child){
            margin-top: 0.5rem;
        }
        li:not(:last-child){
            margin-bottom: 0.5rem;
        }
    }
    
    .title{
        border-left: 0.5rem solid $blue ;
        padding-left: 0.5rem;
    }

}

#right{
    grid-area: right;
    background-color: white;
    // border-left: 1px solid red;

    
    .title{
        border-bottom: 0.15rem solid $blue;
    }
}

section{
    padding: 1rem;
}

.title{
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    //letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
    line-height: 1;
}

.subsubtitle{
    display: flex;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: black;
    .date{
        color: $gray;
    }
}



ul{
    list-style: none;
}

p{
    text-align: justify;
}

/* ------------------- */
/* Skip navigation link*/
/* ------------------- */

.skip-nav-link{
    background-color: $gray;
    color: $lightblue;
    padding: 0.5rem 1.5rem;
    position: absolute; 
    border-radius: 0.25rem;
    transform: translateY(-120%);
    transition: transform 400ms ease-in;
    left: 2rem
}

.skip-nav-link:focus{
    transform: translateY(20%)
}