/* ------------------- */
/* Reset               */
/* ------------------- */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* ------------------- */
/* Body                */
/* ------------------- */
body {
  padding: 0;
  line-height: 1.5;
  min-height: 100vh;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  color: #1c1c1c;
  background: #43ece5;
  background: linear-gradient(135deg, #43ece5 25%, #071e3d 100%);
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) minmax(8rem, 24rem) minmax(13rem, 39rem) minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr) minmax(8rem, 24rem) minmax(13rem, 39rem) minmax(0, 1fr);
  -ms-grid-rows: 6rem auto auto auto 2rem;
      grid-template-rows: 6rem auto auto auto 2rem;
      grid-template-areas: ". . . . " ". left right ." ". . . . ";
}

#left {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: left;
  background-color: white;
}

#left #photo img {
  width: 100%;
}

#left #introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#left #introduce #name, #left #introduce #surname {
  font-size: 2.75rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  line-height: 0.9;
  text-transform: uppercase;
}

#left #introduce #title {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: gray;
}

#left #contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgba(67, 236, 230, 0.1);
}

#left #contact .box div {
  width: 100%;
  margin-left: 1rem;
  border-left: 0.15rem solid #1b7296;
}

#left #contact .box div div {
  border: none;
}

#left #contact .box div .contact-name {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 0.9;
  text-transform: uppercase;
  color: #1b7296;
}

#left #contact ul {
  padding: 0;
}

#left #contact a {
  text-decoration: none;
  color: black;
}

#left #skills li, #left #hobby li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

#left #skills li div, #left #hobby li div {
  margin-left: 1rem;
}

#left img {
  width: 2.5rem;
}

#left .title {
  border-left: 0.5rem solid #1b7296;
  padding-left: 0.5rem;
}

#right {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: right;
  background-color: white;
}

section {
  padding: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

ul {
  list-style: none;
}

/* ------------------- */
/* Skip navigation link*/
/* ------------------- */
.skip-nav-link {
  background-color: #333333;
  color: #43ece5;
  padding: 0.5rem 1.5rem;
  position: absolute;
  border-radius: 0.25rem;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  -webkit-transition: -webkit-transform 400ms ease-in;
  transition: -webkit-transform 400ms ease-in;
  transition: transform 400ms ease-in;
  transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
  left: 2rem;
}

.skip-nav-link:focus {
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
/*# sourceMappingURL=style.css.map */