@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&display=swap');

$background: hsl(200, 20%, 5%);
$background-alt: hsl(200, 20%, 15%);

$foreground: hsl(200, 0%, 85%);
$foreground-alt: hsl(200, 0%, 95%);

$element-background: hsl(200, 20%, 15%);
$element-background-alt: hsl(200, 20%, 20%);
$element-foreground: hsl(200, 0%, 90%);
$element-foreground-alt: hsl(200, 0%, 95%);

$accent-1: hsl(185, 75%, 45%);
$accent-2: hsl(185, 90%, 55%);
$accent-3: hsl(185, 100%, 65%);

$accent-alt-1: hsl(335, 100%, 35%);
$accent-alt-2: hsl(335, 95%, 60%);

$gray-1: hsl(199, 15%, 15%);
$gray-2: hsl(199, 15%, 20%);
$gray-3: hsl(199, 15%, 30%);

// ---

$ff-base: 'Roboto', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
// $ff-headers: 'Times New Roman', Times, serif;
$ff-headers: 'Roboto', sans-serif;
$ff-mono: 'Anonymice', monospace;
// $ff-anonymous: 'Anonymous Pro', monospace;
$ff-anonymice: 'Anonymice', monospace;

$fs-h1: 2.5rem;
$fs-h2: 2rem;
$fs-h3: 1.65rem;
$fs-h4: 1.4rem;
$fs-h5: 1.1rem;
$fs-h6: 0.9rem;

$time: 0.1618s;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
