.dock {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90vh;
    position: sticky;
    top: 10vh;
    font-size: 1.25rem;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }    

    &#skills ul{
        height: 100%;
    }

    &#socials ul{
        height: 20%;
    }
}