.page-wrapper {
    display: grid;
    grid-template-areas: 
        "nav nav nav" 
        "socials content workshop";
    grid-template-columns: 5% 90% 5%;
    // grid-template-rows: 2rem auto 2rem;
    // grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);

    nav {
        grid-area: nav;
    }

    #socials {
        grid-area: socials;
    }

    #content {
        grid-area: content;
    }

    #workshop {
        grid-area: workshop;
    }
}