.page-wrapper{
    display: grid;
    grid-template-areas: "nav nav nav" "left content right";

    nav{
        grid-area: nav;
    }

    .left{
        grid-area: left;
    }

    .content{
        grid-area: content;
    }

    .right{
        grid-area: right;
    }
}