@use 'mixins' as *;

.page-wrapper {
    display: grid;
    grid-template-areas: '. left . right .';
    grid-template-columns: 2fr 8fr 1fr 11fr 2fr;
    // grid-template-rows: 2rem auto 2rem;
    // grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);

    @include respond-to('xl') {
        grid-template-columns: 1fr 5fr 1fr 11fr 1fr;
    }

    ;

    @include respond-to('md') {
        grid-template-areas: '. left .' '. right .'
        ;
        grid-template-columns: 1fr 13fr 1fr;

    }

    ;


    .right {
        grid-area: right;
    }

    .left {
        grid-area: left;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond-to('md') {
            position: relative;
            height: auto;
            top: auto;
            display: block;
        }
    }
}