@use "abstracts" as *;

#content {
    display: grid;
    grid-column: auto;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15%;
}

#hello {
    // padding: 15%;
    // height: 100vh;
    // background-color: $background;
    // background-clip: border-box;

    #name {
        font-family: $ff-roboto;
        font-size: 5em;
        margin: 0;
    }

    #quote {
        font-size: $fs-h4;
        font-family: $ff-headers;
        color: $accent-1;
        margin-top: $fs-h4;
    }
}

#about{
    .wrapper{
        display: flex;
        align-items: center;
        
        .description{
            width: 60%;
            text-align: justify;
            line-height: 1.75;
        }
    
        .avatar-img{
            width: 40%;
            display: flex;
            justify-content: flex-end;
            img{
                width: 70%;
                border-radius: 1rem;
            }
        }
    }
}

#experience{
    h2{
        position: relative;
        margin-bottom: 1.5rem;
    }

    div{
        h2, h6{
            margin: 0;
        }
    }

    li{
        line-height: 1.75;
    }
}

.tag{
    position: relative;
    color: $accent-3;
    font-family: $ff-anonymice;

    &.start {
        
        top: -1rem;
    }
    &.end {
        position: relative;
        top: 1rem;
    }
}

#background{
    position: fixed;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    color: $background-alt;
    overflow: hidden;

}