@use "abstracts" as *;

#content {
    display: grid;
    grid-column: auto;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15%;
}

#hello {
    // padding: 15%;
    // height: 100vh;

    #name {
        font-family: $ff-roboto;
        font-size: 5em;
        margin: 0;
    }

    #quote {
        font-size: $fs-h4;
        font-family: $ff-headers;
        color: $accent-1;
        margin-top: $fs-h4;
    }
}

#about{
    .wrapper{
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 1.5rem;
    }
   
    .description{
        position: relative;
        top: -3rem;
        text-align: justify;
    }

    .avatar-img{
        position: relative;
        top: 3rem;
        // background-image: url("https://avatars.githubusercontent.com/u/91213389?v=4");
        // background-repeat: no-repeat;
        // background-size: contain;
        // border-radius: 1rem;
        img{
            width: 80%;
            border-radius: 1rem;
        }
    }

}