/* reset src: https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.page-wrapper {
  display: grid;
  grid-template-areas: ". left . right .";
  grid-template-columns: 2fr 8fr 1fr 11fr 2fr;
}
.page-wrapper .right {
  grid-area: right;
}
.page-wrapper .left {
  grid-area: left;
}

@font-face {
  font-family: "Anonymice";
  src: url(https://github.com/Azalurg/dotfiles/blob/main/fonts/Anonymice/Anonymice%20Nerd%20Font%20Complete%20Mono.ttf?raw=true);
}
body {
  color: hsl(200deg, 0%, 85%);
  background-color: hsl(200deg, 20%, 5%);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
}

a {
  color: hsl(185deg, 75%, 45%);
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
  text-decoration: underline;
  color: hsl(185deg, 90%, 55%);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.25em;
}

h1,
.h1 {
  font-size: 2.5rem;
  margin-top: 0;
  line-height: 1.1em;
  letter-spacing: 0.05em;
}

h2,
.h2 {
  font-size: 2rem;
  margin-top: 0;
  line-height: 1.2em;
}

h3,
.h3 {
  font-size: 1.65rem;
  margin-top: 0;
  line-height: 1.3em;
}

h4,
.h4 {
  font-size: 1.4rem;
  margin-top: 0;
  line-height: 1.4em;
}

h5,
.h5 {
  font-size: 1.1rem;
  margin-top: 0;
  line-height: 1.5em;
}

h6,
.h6 {
  font-size: 0.9rem;
  margin-top: 0;
  line-height: 1.6em;
}

pre {
  font-family: "Anonymice", monospace;
}

@font-face {
  font-family: "Anonymice";
  src: url(https://github.com/Azalurg/dotfiles/blob/main/fonts/Anonymice/Anonymice%20Nerd%20Font%20Complete%20Mono.ttf?raw=true);
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10% 0;
}

#hello {
  position: sticky;
  top: 0;
}
#hello #name {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
#hello #title {
  font-family: "Roboto", sans-serif;
}
#hello #quote {
  font-weight: 100;
  color: hsl(185deg, 75%, 45%);
  margin-top: 1.1rem;
  font-family: "Times New Roman", Times, serif;
}

#about .wrapper {
  display: flex;
  align-items: center;
}
#about .wrapper .description {
  width: 100%;
  text-align: justify;
}

#experience h2 {
  position: relative;
  margin-bottom: 1.5rem;
}
#experience div h3,
#experience div h6 {
  margin: 0;
}
#experience div h6 {
  font-family: "Times New Roman", Times, serif;
}
#experience li {
  line-height: 1.75;
}

#projects ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#projects ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .baner {
  width: 76%;
  aspect-ratio: 16/9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.8s ease;
}
#projects .baner .visible {
  display: block;
  background-color: hsla(172deg, 66%, 7%, 0.495);
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
#projects .baner .hover {
  display: none;
  transition: all 0.8s ease;
}
#projects .baner:hover {
  box-shadow: 1rem 1rem 3rem 2rem #1c1c1c;
}
#projects .baner:hover .visible {
  display: none;
}
#projects .baner:hover .hover {
  display: flex;
  flex-direction: column;
  font-size: 1.65rem;
}
#projects .topics {
  display: flex;
}
#projects .topics li {
  display: block;
  background-color: hsla(185deg, 100%, 50%, 0.5);
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  margin: 0.75rem 0.25rem;
  font-size: 0.9rem;
  font-family: "Anonymice", monospace;
}

.tag {
  position: relative;
  color: hsl(185deg, 100%, 65%);
  font-family: "Anonymice", monospace;
  right: 1rem;
}
.tag.start {
  top: -1rem;
}
.tag.end {
  position: relative;
  top: 1rem;
}

#background {
  position: fixed;
  justify-content: flex-end;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  color: hsl(200deg, 20%, 10%);
  overflow: hidden;
  padding: 0;
  margin-left: 20.8333333333%;
}

@font-face {
  font-family: "Anonymice";
  src: url(https://github.com/Azalurg/dotfiles/blob/main/fonts/Anonymice/Anonymice%20Nerd%20Font%20Complete%20Mono.ttf?raw=true);
}
.anime {
  transition: 0.1618s;
}

.anime:hover {
  transform: scale(116%);
}

/*# sourceMappingURL=main.css.map */
